
.photo {
    width: 70%;
    height:70%;
    border-radius: 50%;
    height:400px;
}

.home {
    display:flex;
    justify-content: center;
}

.home h1 {
    font-family: 'Poppins';
    font-weight:bold;
    color:#976E6E;
    font-size: 1.6rem;
}

.home p {
    font-family: 'Poppins';
    font-weight:400px;
    color:#976E6E;
    font-size: 1.3rem;

}


.home>div {
    width: 40%;
}

.home>div:nth-child(1) {
 
    margin-top:7%;

}

.home>div:nth-child(2) {
 
    margin-top:4%;
    margin-left:3%;
}


.home>div>div {
    width:100%;
    margin-bottom: 1.5rem;
}

.home>div>div:nth-child(3) {
    margin-top:5%;
}

.btn:nth-child(1) {
    margin-right: 2rem;

}

.btn {
    background: #C19292;
    padding:0.8rem;
    border: none;
    border-radius: 0.8rem;
    width:30%;
    color:white;
    font-family: 'Poppins';
}

.btn:hover {
    background: #f3cdcd;
}

@media (min-width:901px) {
 .home {
    height:570px;
 }
}


@media (max-width: 900px) {

   .home *{
        font-size: 1.2rem !important;
    }

    .home h1{
        font-size: 1.5rem !important;
    }


    .home{
    flex-direction: column-reverse;
    align-items: center;
    margin-top:4%;

    }

    .photo {
    width:85%;

    margin:auto;

    }
    .home>div {
    width: 70%;
    }

    .home>div:nth-child(1) {

        display: flex;
        flex-direction: column;
    }

    .home>div:nth-child(1)>div {

        text-align: center;
    }

    .home>div:nth-child(2) {
        margin:auto;
        display: flex;
    }

    .home>div:nth-child(2)>div {
        display: flex;
    }

    .home>div>div:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin: 0 0 3% 0 !important;
        font-size: 1rem !important;
        width:50%;
    }

}


@media (max-width: 600px) {
    .home {
        margin-bottom:4%;
    }

   .home .btn{
        width:60%;
    }

    .photo {
        height:350px;
    }

    .btn {
      
        width:60%;
    }


}

@media (max-width: 450px) {
    .photo {
        height:280px;
    }

}
