

.header1{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 3%
    
 }
 .header1 button {
  background:none; border:none; 
  display: inline-block;
  padding: 0 1.5rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 36px; 
  color: #E7AEAE;
  list-style: none
 }

.header1 h1 {

font-family: 'Over the Rainbow';
font-style: normal;
font-size: 36px;
line-height: 54px;
color:#e9c8c8;
}

.header1 button:hover {
  font-weight: 1000 !important;

}

.main {
  font-weight: 1000 !important;
}




